.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: var(--font-geist-sans);
}
.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: absolute;
  top: 0;
}
.ContainerTitle{
  position: relative;
  z-index: 1;
  animation: slideOut 2s ease-in-out;
  margin-left: 15%;
}
.title{
  font-size: 6.5em;
  font-weight: 700;
  margin-top: 0%;
  margin-left: 5%;
}

.ContainerImagen{
  width: 90%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0%;
  align-items: start;
  display: flex;
  z-index: 1;
  margin-left: 15%;
  position: relative;
  
}
.animatedImage {
  animation: slideIn 2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut2 {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}



a.primary {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


/*mobile*/
@media (max-width: 700px) {
  .title{
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 5%;
  }
}