
.Container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
    top: 0;
}
.ContainerText{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    z-index: 1;
    animation: slideOut 2s ease-in-out;
}
.ContainerOfContainerTitle{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: lawngreen; */
    position: relative;
}
.ContainerTitle{
    position: relative;
    z-index: 1;
    margin-left: 32%;
    margin-bottom: -60%;
}
.Info{
    margin-top: 10%;
    margin-left: 22%;
    grid-column: span 2;
}
.subtitle{
    font-size: 1.5em;
    font-weight: 700;
    color: #5f5858;
}
.AboutmeInfo{
    padding-top: 5%;
    font-size: 1em;
    font-weight: 600;
    margin-right: 20%;
    color: #7b7575;
}
.title{
    font-size: 6.5em;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 1%;
}

.ContainerImagen{
    width: 90%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    align-items: start;
    display: flex;
    z-index: 1;
    margin-right: 2%;
    position: relative;
}
.animatedImage {
    animation: slideIn 2s ease-in-out;
}

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes slideIn {
from {
    transform: translateX(-100%);
    opacity: 0;
}
to {
    transform: translateX(15);
    opacity: 1;
}
}

@keyframes slideOut {
from {
    transform: translateX(200%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

@keyframes slideOut2 {
from {
    transform: translateX(-200%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}


/*mobile*/
@media (max-width: 700px) {
.title{
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 30%;
}
.Info{
    margin-left: 35%;
    margin-top: 30%;
    grid-column: span 2;

}
.subtitle{
    font-size: 1.1em;
    margin-top: 3%;
}
.AboutmeInfo{
    margin-top: 3%;
}
}