.CirclesContent{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: row;
    margin-left: -10%;
    gap: 2%;
}

.Circle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    /* border: 2px groove #000; */
    width: 130px; 
    height: 130px; 
    animation: rotate 2s ease-in-out, filter 0.5s ease-in-out;
}

.Image{
    width: 50%; 
    height: 50%;
    object-fit: contain;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
}

.a:hover{
    animation: rotate 2s ease-in-out;
    filter: brightness(1.5);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

@keyframes scales {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
    
}