.Container {
    display: grid;
    grid-template-columns: 1fr;
    top: 0;
    margin-left: 7% ;
}
.ContainerTitle{
    position: relative;
    z-index: 1;
    margin-left: 10%;
    animation: slideOut 2s ease-in-out;
}
.ContainerContact{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* background-color: #2e2e2e; */
    background-color: #000000be;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.ContainerObjects{
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: limegreen;
}

.title{
    font-size: 6.5em;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 15%;
}

.ContainerImagen{
    width: 90%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    align-items: start;
    display: flex;
    z-index: 3;
    position: relative;
    right: -10%;
    animation: slideOut2 2s ease-in-out;
}
.animatedImage {
    animation: slideIn 2s ease-in-out;
}

.title:hover{
    animation: fadeIn 5s ease-in-out;
 }

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
    }
    
    @keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(15);
        opacity: 1;
    }
    }
    
    @keyframes slideOut {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }
    
    @keyframes slideOut2 {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }
    
/*mobile*/
@media (max-width: 700px) {
    .title{
      font-size: 2.2em;
      font-weight: 700;
      margin-top: 0%;
      margin-left: 20%;
    }
}