.Container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: absolute;
    top: 0;
}
.ContainerTitle{
    position: relative;
    z-index: 1;
    margin-left: 10%;
    animation: slideOut 2s ease-in-out;
}
.ContainerContact{
    position: absolute;
    background-color: #2e2e2e;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: #fff;
    margin-top: 10%;
}
.title{
    font-size: 6.5em;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 15%;
}

.ContainerImagen{
    width: 90%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0%;
    align-items: start;
    display: flex;
    z-index: 3;
    position: relative;
    right: -10%;
    animation: slideOut2 2s ease-in-out;
}
.animatedImage {
    animation: slideIn 2s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    }
    
    @keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(15);
        opacity: 1;
    }
    }
    
    @keyframes slideOut {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }
    
    @keyframes slideOut2 {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }
    
/*mobile*/
@media (max-width: 700px) {
    .title{
      font-size: 2.2em;
      font-weight: 700;
      margin-top: 0%;
      margin-left: 20%;
    }
}