.ContainerTitle{
    position: relative;
    z-index: 1;
    animation: slideOut 2s ease-in-out;
    margin-left: 10%;
    animation: slideOut 2s ease-in-out;
}

.title{
    font-size: 6.5em;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 5%;
}

.Carousel{
    position: absolute;
    width: 80%;
    height: 80%;
    margin-left: 10%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    }
    
    @keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(15);
        opacity: 1;
    }
    }
    
    @keyframes slideOut {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }
    
    @keyframes slideOut2 {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
    }
    
/*mobile*/
@media (max-width: 700px) {
    .title{
      font-size: 2.2em;
      font-weight: 700;
      margin-top: 0%;
      margin-left: 20%;
    }
    .Carousel{
        margin-left: 10%;
        margin-top: 8%;
        height: 50%;
        width: 90%;
    }
}